#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

#define UC_PT_O_TILDE 0xf5 0xd5 // õ/Õ
#define UC_PT_EA      0xe9 0xc9 // é/É
#define UC_PT_IA      0xed 0xcd // í/Í

ZMK_MACRO(accent_ao,   bindings = <&uc UC_PT_A_TILDE &kp O>; wait-ms = <30>;)       // ÃO
ZMK_MACRO(accent_oes,  bindings = <&uc UC_PT_O_TILDE &kp E &kp S>; wait-ms = <30>;) // ÕES

/* Portuguese accented letters */
ZMK_LEADER_SEQUENCE(pt_aa,      &uc UC_PT_AA,           A A)  // á
ZMK_LEADER_SEQUENCE(pt_ac,      &uc UC_PT_A_CIRCUMFLEX, A I)  // â
ZMK_LEADER_SEQUENCE(pt_atilde,  &uc UC_PT_A_TILDE,      A N)  // ã
ZMK_LEADER_SEQUENCE(pt_oa,      &uc UC_PT_OA,           O A)  // ó
ZMK_LEADER_SEQUENCE(pt_oc,      &uc UC_PT_O_CIRCUMFLEX, O I)  // ô
ZMK_LEADER_SEQUENCE(pt_otilde,  &uc UC_PT_O_TILDE,      O N)  // õ
ZMK_LEADER_SEQUENCE(pt_ea,      &uc UC_PT_EA,           E A)  // é
ZMK_LEADER_SEQUENCE(pt_ec,      &uc UC_PT_E_CIRCUMFLEX, E I)  // ê
ZMK_LEADER_SEQUENCE(pt_ia,      &uc UC_PT_IA,           I A)  // í
ZMK_LEADER_SEQUENCE(pt_cedilla, &uc UC_PT_C_CEDILLA,    C)  // ç
ZMK_LEADER_SEQUENCE(pt_ao,      &accent_ao,             A O)  // ão
ZMK_LEADER_SEQUENCE(pt_oes,     &accent_oes,            O E)  // ões

/* Greek letters */
ZMK_LEADER_SEQUENCE(el_alpha,   &uc UC_EL_ALPHA,      G A)  // α
ZMK_LEADER_SEQUENCE(el_beta,    &uc UC_EL_BETA,       G B)  // β
ZMK_LEADER_SEQUENCE(el_lambda,  &uc UC_EL_LAMBDA,     G L)  // λ
ZMK_LEADER_SEQUENCE(el_pi,      &uc UC_EL_PI,         G P)  // π
ZMK_LEADER_SEQUENCE(el_tau,     &uc UC_EL_TAU,        G T)  // τ
ZMK_LEADER_SEQUENCE(el_phi,     &uc UC_EL_PHI,        G F)  // ϕ
ZMK_LEADER_SEQUENCE(el_psi,     &uc UC_EL_PSI,        G Y)  // ψ
ZMK_LEADER_SEQUENCE(el_omega,   &uc UC_EL_OMEGA,      G W)  // ω

// BLE and USB
#ifdef CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(usb,        &out OUT_USB,   U S B)
ZMK_LEADER_SEQUENCE(ble,        &out OUT_BLE,   B L E)
#endif // CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(reset,      &sys_reset,     R E S E T)
ZMK_LEADER_SEQUENCE(boot,       &bootloader,    B O O T)

